.App {
  text-align: center;
}

.nav-box {
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  min-height: 10vh;
}

.nav-ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style: none;
  font-weight: 600;
  align-items: center;
}